/* - - - </> [SEC] </> - - - */
.admin-section
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* - - - </> [DIV] </> - - - */
.admin-menu
{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color_002);
}

/* - - - </> [DIV] </> - - - */
.admin-data
{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    background: #F8F7F2;
    flex-direction: column;
}

/* - - - </> [TEXT] </> - - - */
.admin-title
{
    margin: 0;
    width: 90%;
    font-size: 28px;
    margin-top: 40px;
    font-weight: 700;
    line-height: 100%;
    user-select: none;
    margin-bottom: 10px;
    pointer-events: none;
    font-family: 'Tan-Pearl';
}

/* - - - </> [TEXT] </> - - - */
.admin-text
{
    margin: 0;
    width: 90%;
    opacity: .5;
    font-size: 12px;
    user-select: none;
    margin-bottom: 20px;
    pointer-events: none;
}

/* - - - </> [DIV] </> - - - */
.admin-form
{
    width: 25%;
    height: 100%;
    display: flex;
    overflow-y: auto;
    align-items: center;
    background: #F0ECE1;
    scrollbar-width: none;
    flex-direction: column;
}

/* - - - </> [DIV] </> - - - */
.admin-form::-webkit-scrollbar
{
    display: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{

}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px)
{
    /* - - - </> [SEC] </> - - - */
    .admin-section
    {
        height: auto;
        flex-direction: column;
    }
    
    /* - - - </> [DIV] </> - - - */
    .admin-data
    {
        width: 100% !important;
        height: auto;
    }

    /* - - - </> [DIV] </> - - - */
    .admin-form
    {
        width: 100% !important;
        height: auto;
    }

}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px)
{
    /* - - - </> [DIV] </> - - - */
    .admin-menu
    {
        display: none;
    }

    /* - - - </> [DIV] </> - - - */
    .admin-data
    {
        width: 50%;
    }

    /* - - - </> [DIV] </> - - - */
    .admin-form
    {
        width: 50%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px)
{

}