:root {
    --color_001: #FFFFFF;
    --color_002: #1B1B1B;
    --color_003: #FF8C42;
    --color_004: #0086BA;
    --color_005: #154449;
  }
  
  .home-container {
    padding: 20px;
    background-color: var(--color_001);
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    color: var(--color_003);
  }
  
  .header p {
    color: var(--color_004);
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .buttons button {
    padding: 10px 20px;
    border: none;
    background-color: var(--color_005);
    color: var(--color_001);
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buttons button:hover {
    background-color: var(--color_004);
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .card {
    padding: 20px;
    border: 1px solid var(--color_004);
    border-radius: 10px;
    text-align: center;
    background-color: var(--color_002);
    color: var(--color_001);
  }
  
  .card p {
    margin-top: 10px;
    color: var(--color_003);
  }
  
  /* Media Queries para Responsividad */
@media (min-width: 100px) {
    .buttons {
      flex-direction: row;
    }
  
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 900px) {
    .cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }