/* - - - </> [NAV] </> - - - */
.menu
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* - - - </> [UL] </> - - - */
.menu-wrapper
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

/* - - - </> [LI] </> - - - */
.menu-item
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    list-style-type: none;
    justify-content: center;
}

/* - - - </> [LI] </> - - - */
.menu-item-wrapper
{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* - - - </> [SPAN] </> - - - */
.menu-item-icon-wrapper
{
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* - - - </> [ICON] </> - - - */
.menu-item-icon
{
    font-size: 20px;
    user-select: none;
    pointer-events: none;
    color: rgb(255, 255, 255, .5);
}

/* - - - </> [TEXT] </> - - - */
.menu-item-text
{
    margin: 0;
    font-size: 12px;
    line-height: 100%;
    user-select: none;
    pointer-events: none;
    color: rgb(255, 255, 255, .5);
}

/* - - - </> [SPAN] </> - - - */
.menu-item-active .menu-item-status
{
    left: 0;
    width: 5px;
    height: 100%;
    position: absolute;
    background: var(--color_001);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* - - - </> [ICON] </> - - - */
.menu-item-active .menu-item-icon
{
    color: var(--color_001);
}

/* - - - </> [ICON] </> - - - */
.menu-item-active .menu-item-text
{
    font-weight: 600;
    color: var(--color_001);
}